/*Inserir fontes*/

@font-face {
    font-family: 'Jost';
    src: url(fonts/jost-cufonfonts/Jost500Medium.otf);
}

@font-face {
    font-family: 'Jost Bold';
    src: url(fonts/jost-cufonfonts/Jost700Bold.otf);
}

@font-face {
    font-family: 'Jost Light';
    src: url(fonts/jost-cufonfonts/Jost300Light.otf);
}

@font-face {
    font-family: 'Press Start 2P' ;
    src: url(fonts/press-start-2p-cufonfonts/PressStart2P-Regular.ttf);
}

/*Soft Reset*/

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
  }

/*DIV / NAVS*/
div.principal{
    padding-left: 7vw;
    padding-top: 5vh;
}

div#principalEducacao{
    padding-left: 7vw;
    padding-top: 5vh;
}

div#principalContatos{
    padding-left: 7vw;
    padding-top: 5vh;
}

div#principalPortfolio{
    padding-left: 7vw;
    padding-top: 5vh;
}

div.centralHome{
    padding-left: 9vw;
}

div.nome{
    display: inline-block;
    flex: auto;
}

#menuTextos{
    padding-top: 1.8vh;
}

div.nome, .imagem{
    display: inline-block;
}

.txtNome{
    padding-left: 20px;
}


nav.menu{
    min-width: 500px;
    height: 8vh;
    border-bottom: 3px solid black ;
    padding-right: 20px;
    text-align: right;
    background-color: #401F59;
}

/*Body*/

body{
    background-color: #775194;
}

/*Textos*/

h1.txtNome{
    font-family: 'Jost';
    font-size: 2.3rem;
}

h1.meio{
    padding-left: 120px;
    font-family: 'Jost';
    font-size: 3rem;
}

h3, h2{
    font-family: 'Jost Light';
    font-size: 1.4rem;
}

b{
    font-family: 'Jost Bold';
}

a, span{
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
    font-size: 1.8rem;
    font-family: 'Jost';
    color:rgb(207, 207, 207);
    text-decoration: none;
}

/*Imagem*/

img.imagem{
    margin: 5%;
    border: 3px solid black ;
    max-width:30vw;
    max-height:30vh;
}

/*Listas*/

li{
    font-size: 30px;
    font-family: 'Jost';
}


/*Outros*/

hr{
    border: solid 2px #401F59;
}