{% extends "base.html" %}

{% block title %} Portfólio - Educação {% endblock %}

{% block linkAtivo %}class="nav-link" aria-current="page"{% endblock %}
{% block linkAtivoPortfolio %}class="nav-link" aria-current="page"{% endblock %}
{% block linkAtivoEducacao %}class="nav-link active" aria-current="page"{% endblock %}
{% block linkAtivoContatos %}class="nav-link" aria-current="page"{% endblock %}


{% block content %}


        <section>
            <div id="principalEducacao">
                <h1 class="meio">Educação:</h1>
                    <div class="centralHome">
                        <ul>
                            <li>ensino médio:
                                <br>
                                E. E. Dep. Benedito <b>Matarazzo</b>
                            </li>
                            <br>
                            <li>ensino técnico:
                                <br>
                                <b>CEPHAS</b> - Eletrônica
                            </li>
                            <br>
                            <li>ensino superior:
                                <br>
                                <b>FATEC</b> Profº Jessen Vidal, SJC
                            </li>
                        </ul>
                    </div>
            </div>
        </section>

{% endblock %}