{% extends "base.html" %}

{% block title %} Portfólio - Trabalhos {% endblock %}

{% block linkAtivo %}class="nav-link" aria-current="page"{% endblock %}
{% block linkAtivoPortfolio %}class="nav-link active" aria-current="page"{% endblock %}
{% block linkAtivoEducacao %}class="nav-link" aria-current="page"{% endblock %}
{% block linkAtivoContatos %}class="nav-link" aria-current="page"{% endblock %}

{% block content %}
            
    <section>
        <div id="principalEducacao">
            <h1 class="meio">Portfólio!</h1>
            <div class="centralHome">
                <br>
                <a href="https://github.com/OctoplusHolding/OctoplusBank">1ª API</a>
            </div>
        </div>
    </section>

{% endblock %}